* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-dark {
    background-color: black;
}

#nav-fixed > p {
    font-size: 10.24px;
    text-align: center;
    background: linear-gradient(90deg, rgba(106,106,138,1) 44%, rgba(232,164,144,1) 100%);
    color: white;
    padding: 15px;
    font-weight: 700;
    letter-spacing: 2px;
}

.bi-list {
    color: white;
    border: none;
    font-size: 1.4em;
}